body {
  background-color: chocolate;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px;
 margin: 0;

}

button{
   background-color: aqua;
   color: black;
   font-family: "Bai jamjuree", sans-serif;

}

.passo {
display: none;

}




